
@{
    Layout = null;
}
@model List<MNSX.Model.Blog>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

@foreach (var blog in Model)
{
    <!-- 1 -->
    <article class="excerpt excerpt-1">
        <a class="focus" href="/Page?id=@blog.ID" title="@blog.Title" target="_blank">
            <img class="thumb"
                 data-original="~/main/images/nmy_main.jpg" src="~/main/images/nmy_main.jpg"
                 alt="@blog.Title" style="display: inline;">
        </a>
        <header>
            <a class="cat" href="#" title="@blog.CaName">@blog.CaName 主题<i></i></a>
            <h2>
                <a href="/Page?id=@blog.ID" title="@blog.Title" target="_blank">@blog.Title</a>
            </h2>
        </header>
        <p class="meta">
            <time class="time"><i class="glyphicon glyphicon-time"></i> @blog.CreateDate</time>
            <span class="views"><i class="glyphicon glyphicon-eye-open"></i> @blog.VisitNum</span>
        </p>
        <p class="note">
            @if (blog.Body.Length > 250)
            {
                @blog.Body.Substring(0, 250)
            }
            else
            {
                @blog.Body
            }
        </p>
    </article>
}



</body>
</html>
